@charset "UTF-8";
* {
font-family:Tahoma, sans-serif;
margin:0px;
padding:0px;
border:0px solid black;
}
button, [type="button"] {
background:#aaaa88;
}
button:hover, [type="button"]:hover {
background:#666655;
color:#ccccff;
}
submit, [type="submit"] {
background:#7788bb;
}
submit:hover, [type="submit"]:hover {
background:blue;
color:#005500;
}
reset, [type="reset"] {
background:#bb6666;
}
reset:hover, [type="reset"]:hover {
background:#red;
color:white;
}
[type="text"], textarea, [contenteditable] {
border-bottom:1px solid black;
border-radius:3pt;
box-shadow:0px -2pt 1.5pt black inset;
}
