@charset "UTF-8";
* {
font-family:Helvetica, Tahoma, sans-serif;
margin:0px;
padding:0px;
border:0px solid black;
line-height:1.2em;
overflow:auto;
}
button, [type="button"] {
background:#aaaa99;
}
button:hover, [type="button"]:hover {
background:#666655;
color:#ccccff;
}
submit, [type="submit"] {
background:#7788bb;
border-color:blue;
}
submit:hover, [type="submit"]:hover {
background:blue;
color:#005500;
}
reset, [type="reset"] {
background:transparent;
color:red;
border-color:red;
}
reset:hover, [type="reset"]:hover {
background:#red;
color:white;
}
[type="text"], textarea, [contenteditable] {
border-bottom:1px solid black;
border-radius:3pt;
border-top-left-radius:0px;
border-top-right-radius:0px;
box-shadow:0px -2pt 2pt -1.5pt rgba(0,0,0,0.5) inset;
}
[imgMenu]{
height:2em;
overflow:hidden;
background: rgba(255,255,255,0.1);
white-space: nowrap;
}
[imgMenu] *{
height: 100%;
display:inline-block;
position: relative;
}
[imgMenu] *:not([notButton]){
width: 2em;
background-size:cover;
}
[imgMenu] [_img="back"]{
background-image: url("/img/ar_l.svg");
}
ul a {
font-weight:550;
text-decoration:none;
color:#3333dd;
}
a li {
border-bottom:1px solid #bbbbaa;
background:rgba(200,200,200,0.1);
padding-left:1pt;
}
a:hover li {
background:rgba(140,140,140,0.2)
}
[smallPadding] {
padding:1ex;
padding-top:2pt;
padding-bottom:1.2em;
}
[sublist] {
padding-left:1em;
}
[sideBar]{
display:block;
position:fixed;
top:0px;
bottom:0px;
left:75%;
right:0px;
background:#aaaa99;
border-left:1px solid black;
}
[content]{
display:block;
width:80%;
height:100%;
overflow:auto;
}
[sidebar] [content]{
width:100%;
float:right;
}
[sidebar] [sideOpener]{
display:block;
float:left;
height:100%;
width:0px;
}
[sidebar]~a[href="#main"] {
display:none;
}
[dBlock] {
display:block;
}
[dInline] {
display:inline;
padding:0px;
margin:0px;
}
[onlyMobile] {
display:none;
}

@media (max-width:320px), not (orientation: landscape) {
[sidebar] {
left:80%;
right:-60%;
}
[sidebar]:hover {
left:20%;
right:0%;
}
[sidebar] [sideOpener] {
width:25%;
}
[sidebar]:hover [sideOpener] {
width:0px;
}
[sidebar]:hover [content] {
width:100%;
}
[sidebar]~a[href="#main"] {
position:fixed;
top:0px;
bottom:0px;
left:0px;
right:80%;
background:rgba(0,0,0,0.4);
}
[sidebar]:hover~a[href="#main"] {
display:block !important;
}
[onlyDesktop] {
display:none;
}
[onlyMobile] {
display:block;
}
[onlyMobile][dInline] {
display:inline;
}
}
@media print{
* {
background-color:white;
}
body {
padding:2cm;
}
button, [type="button"], submit, [type="submit"], reset, [type="reset"] {
border-width:1pt;
}
}
[Vlong] {
overflow-x:hidden;
overflow-y:auto;
height:100%;
}
[fullW] {
width:100%;
}
