* {
padding:0px;
margin: 0px;
}
html {
width: 100%;
overflow: hidden;
}
.b-main {
position: absolute;
top:1cm;
left:-5% !important;
right: -5% !important;
}
table:not(.gTable) {
width: 50%;
float:right;
}
footer {
position: fixed;
bottom: -2px;
right:1pt;
}
.gTable * {
padding: 0.5ex !important;
overflow: auto;
max-width:2cm;
width: 100%;
}
.gTableRight {
width: 7%;
}
