* {
padding:0px;
margin: 0px;
}
.b-main {
position: absolute;
top:1cm;
left:-20pt !important;
right: 0px;
}
footer {
position: fixed;
bottom: 2px;
right:1pt;
}
.gTable * {
padding: 0.5ex !important;
overflow: auto;
max-width:2cm;
}
