#page_layout, .scroll_fix, .fl_l {
background:#333333;
}
#side_bar {
background: black;
border:1pt solid black;
border-radius:2pt;
box-shaddow:0pt 0pt 2pt 3pt white;
}
#side_bar > *{
background: transparent;
}
