#page_layout, .scroll_fix, .fl_l {
background:#333333;
color:white;
}
#side_bar {
background: black;
padding: 0px!important;
border:1pt solid black;
border-radius:2pt;
box-shaddow:0pt 0pt 2pt 3pt white;
overflow: hidden;
}
#side_bar > *{
background: black;
margin: 0px!important;
width: inherit!important;
position: relative;
right:1.5ex;
}
.content, .reg {
background: black;
}
li {
color: white!important;
}
