[lewrap] {
    height: 0px;
    width: 100%;
    overflow: visible;
}
[lebtn] {
    height: 1em;
    width: 1em;
    margin-top: .1em;
    float: right;
    border-left: 1px solid #aaaabb;
    background-size: contain;
    background-repeat: no-repeat;
}
[lebtn]:hover {
    background-color: rgba(0, 0, 0, .1);
}
[lebtn]:active {
    background-color: rgba(0, 0, 0, .2);
}
[lebtn='copy'] {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABhElEQVR4Xu2aYQ4BMRCFSUTCRTiP2zgDR3EgToIgDPGDstq+t3ZKn2R/mc5Mv76ZabLb71X+61e+/54ASAGVE1AJVC4ANUGVgEqgcgIqAUAAa1szAdalLNmY0TTFsC0bRAHntoI3+EFyglNCggkAjDu+8CdLAFFRHEVHFkjyYQkgPjraXjwMkjwL4GBpDeKpQRanXN8eAIpqogIACI0tASkggI6o8NEFdSBIcCqgZc6uD0VL+ROAAnoAcggqgQcCKgGmqSLyo4irCWoKaAyyJaR7QECAAqomqItQPgFKchqDGoMag2wJaQxqDD4ToBSle0D+FHxpYjEXRzNY2jO/G1In9iYY5a8NBcQAXP/f2jOuGcDONj/6FwAr28jMnlT1XF9XLf6pBFIk/8mGqtkSeoAAkAR+/tUYuf/sMZobL7U33fxmGedm0mBfvQL2BmbYEszQTScfSHwpdx+3HiXgs9OGqAJQ1HE4JCMFOEAvKqQUUNRxOCQjBThALyqkFFDUcTgkcwFwGmhBa/kUVQAAAABJRU5ErkJggg==');
}
[lebtn='addInput'] {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACHElEQVR4Xu2aS0oEQQyGZ8AHLkT3CnoD9QJ6BcGL6An0Bl7EheAJdDXgRk+ggi7cqaDiAzSBbiiKqqY6nRSV6gyEnumkavJ/lTRkmOlk5K/pyPVPDIBVwMgJWAuMvADsIWgtYC0wcgLWAoQC+IA1S826X7jOO3s8wvu15vMrXFcJ+2ddQqmAPy9DF4LvKx4CBwDk0ULwAaCvaAgUAG4LuMWAEJ6dFnB9xUKgAEBhP2BzgWZFCO9gKwFfkRCoAKqBMARAFRCGAlAPgQOAaghcANRC4ASgEgI3AHUQJACogiAFQA0ESQAqIEgDKB5CDgBFQ8gFoFgIOQF0QfgE53dkinyC++uB6ZLlVm4AXRAwl5cIBLE8xTbuOJ4v8C0E/JjLJdhuxMdy4v4muQHExGMLXEfEV9MCMfHY+7OI+Cu4vydy9M2muSqgSPHIIAeAYsXnAFC0eGkAxYuXBKBCvBQANeIlAKgSzw1AnXhOACrFcwFQK54DgGrxQwGoFz8EQBXiqQDeYOFyYELDqe4C7CDgw6nuFOwYbFtouruHfY/AzvvsTxmGQn+DQfGLYCFfO9LegX+zT3KE2BtYs9NnHQeAVjx+rw/AnefxhDb6JEeIve1bYRQAbgu44jHfM6cF/B8z9sF3ArZFEJay5AGCDnO0QEoyamIoFaBGXEqiBiCFUs0xVgE1n26KNquAFEo1x1gF1Hy6KdqsAlIo1RzzDylRpkFYPpNSAAAAAElFTkSuQmCC');
}
[lebtn='setInput'] {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABs0lEQVR4Xu3aMU5CQRAGYDgJdtKBpRZyBRIvoifQA1l4BS20hU4r5CQ6k1C8kAfMzpvZt//ukGwo2H3s/70ZkgWmk8Yf08bzTwIgKqBxgWiBxgsgPgSjBaIFGheIFlAUwCetuT2s+6HnueIaxSzRVMDf0e6hESwA2AMWQQPQbYFuMUAiaAA49DeN655GhkPQAlSDMASgCoShAPAIFgDQCFYAsAiWAJAI1gBwCB4AUAheADAIngAQCN4AxSPkACgaIRdAsQg5Ac4hfNGLd2N8TZQb4BzCGHsZ5YeRd1K477nbTQCcCt9EC5wK/0HVsBqj//k9c5VdkeFzARQbPgdA0eG9AYoP7wkAEd4LACa8BwBUeGsAuPCWAJDhrQBgw1sAQIcfCgAffghAFeG1AK+08KHn9HbpVLemNc80lk4nv1+67hONt5Tra06Dx/8R4ve7FJ7n7GhcpWxOMXdDa25S1lkASMLznvgOzVI2p5i7Ta0wDUC3BaThOQu3wAuNhSKYZMmeJj3maAHJZmDmaCoAJpxkowEgUap5TlRAzXdXki0qQKJU85yogJrvriRbVIBEqeY5/2sPWEHH9YI/AAAAAElFTkSuQmCC');
}