* {
margin: 0px;
padding: 0px;
font-family:Helvetica, Tahoma, sans-serif;
font-size:4.5mm;
}
a {
text-decoration: none;
color:#301510;
}
iframe {
border:none;
}
[ui]:not([ui^="undefined"]) {
display: flex;
position: relative;
}
[ui|="menu"] {
justify-content: space-around;
background:#efdf50;
overflow: visible;
padding:2pt;
border-bottom-right-radius:3pt;
white-space: nowrap;
}
[ui|="menu"] a {
color:#fffaef;
}
[ui|="menu"][ui*="-vertical-"] {
flex-direction: column;
align-items: center;
}
[ui|="menu-multilevel"][ui*="-vertical-"] > [ui$="@opened"] ~ * {
visibility:hidden;
}
[ui|="menu-multilevel"] > * {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 1em;
width: 100%;
text-align:center;
}
[ui|="menu-multilevel"] > * > * {
padding: 1pt;
min-height: 1em;
background: #afaf90;
width: 100%;
margin-left: 1ex;
opacity:0;
transition:opacity 1s ease 1s;
display: none;
}

[ui|="menu-multilevel"] > [ui$="@opened"] > * {
display: flex;
opacity: 1;
}
[ui|="menu-multilevel"] > [ui$="@opened"] {

}
[ui|="menu-multilevel"] > * > *:first-child {
display:flex;
opacity:1;
background: transparent;
}
iframe[ui|="menu-multilevel"] {
overflow-x:auto;
overflow-y:visible;
height:1.5em;
background: transparent;
top:-2pt;
left:-2pt;
right:-2pt;
}
iframe[ui|="menu-multilevel"]:hover {
height: auto;
}
[ui|="menu"] > * {
font-size:1.2rem;
}
[ui|="menu"] > :first-child {
font-weight:700;
}
[ui|="menu"] > :hover, [ui|="menu-multilevel"] > * > :hover {box-shadow:0px 0px 0px 1cm rgba(0,0,0,0.15) inset}
[ui|="menu"] > :active, [ui|="menu-multilevel"] > * > :active {box-shadow:0px 0px 0px 1cm rgba(0,0,0,0.3) inset}
[ui|="content"] {
flex-wrap:wrap;
justify-content: space-between;
color:#503000;
margin-top:1.5mm;
}
[ui|="content"] > * {
max-width:10cm;
background:f8dfcf;
padding: 3pt;
border-radius:2pt;
margin-left:2.5pt;
margin-top:1pt;
}
[ui|="content"] a {
font-size:1.2em;
}
table td + td {
padding-left:3.5mm;
border-left:0.9pt dotted rgba(210,210,210,0.7);
}
[ui~="wide"] {
width: 100%;
}
[ui~="line"] {
height:1em;
}
[ui~="fixed"] {
position: fixed !important;
top:0px;
}
[ui~="fixed"] + * {
margin-top:1.5em;
}
